* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    background-color: #B5FFFE;
    display: flex;
    justify-content: center;
    
}
body{
    background-color: #E8F2F2;
    margin: 20px 80px;
}
.intro{
    margin:20px 30px;
}
.peliculas{
    margin:20px 40px;
}
.imagen{
    margin:30px;
}
.poster{
    display: flex;
    justify-content: center;
    
}
p{
    margin: 20px 10px;
}
footer{
    background-color: #B5FFFE;
    display: flex;
    justify-content: center;
    font-size:larger;
}