* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    background-image: url(Fondos-para-paginas-web-02.jpg);
    display: flex;
    justify-content: center;
    font-style:italic;
    font-family:monospace;
    font-size: xx-large;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    margin: 20px 80px;
}
.intro{
    margin:10px 30px;
    font-size:large;
    display: flex;
    justify-content: center;
}
.peliculas{
    margin:10px 40px;
    font-size: larger;
    display: flex;
    justify-content: center;
}
.peliculas:hover{
    transform: scale(1.5);
}
ol {
    list-style-type:upper-roman;
}
.imagen{
    margin:30px;
}
img:hover{
    transform: translateY(3in);
}
.poster{
    display: flex;
    justify-content: center;
    margin: 30px;
}
p{
    margin: 20px 10px;
}
.argumento{
    text-align:justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: double;
}
footer{
    background-image: url(./Fondos-para-paginas-web-02.jpg);
    display: flex;
    justify-content: center;
    font-size:larger;
}