* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3{
    background-image: url(./fondo-de-color-azul-claro-para-texturas-y-diseño-banners-web-199690632.webp);
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
body{
    background-color:azure;
    margin: 20px 80px;
}
.intro{
    margin:20px 30px;
}
.peliculas{
    margin:20px 40px;
    
}
.imagen{
    margin:30px;
}
.poster{
    display: flex;
    justify-content: center;
    
}
p{
    margin: 20px 10px;
}
footer{
    background-image: url(./fondo-de-color-azul-claro-para-texturas-y-diseño-banners-web-199690632.webp);
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size:larger;
}